<div class="row text-center">
    <form ng-submit="businessCreate.businessCreate()">
        <div class="col-md-4 col-md-offset-4">

            <label>
                Food Truck Name:
                <input ng-model="businessCreate.name" type="text" class="form-control" />
            </label>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <label>
                Food Truck Image:
                <input ng-model="businessCreate.image" type="text" class="form-control" />
            </label>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <label>
                Food Truck Description:
                <input ng-model="businessCreate.description" type="text" class="form-control" />
                <br />
                <p>
                    <input class="btn btn-default form-control" type="submit" value="sumbit" />
                </p>

            </label>
        </div>
    </form>
</div>
