<div class="row text-center">
    <div class="col-md-12 col-md-offset-6">
        <br />
        <form ng-submit="businessRegister.register()">
            Register account as a food truck business owner here.
            <br />
            <div class="row">
                <input ng-model="businessRegister.newBusiness.username" class="form-control" placeholder="Enter Username" />
            </div>
            <div class="row">
                <input ng-model="businessRegister.newBusiness.password" class="form-control" type="password" placeholder="Enter Password" />
            </div>
            <br />
            <div class="row">
                <input type="submit" value="Login" class="form-control" />
            </div>
            <br />
            Already have an food truck business owner account? Please login below.
            <br />
        </form>
        <div class="row">
            <input type="submit" value="Login" class="form-control" ng-click="businessLogin.goToLogin()" />
        </div>
    </div>
</div>