<div class="row text-center">
    <form ng-submit="businessCreate.">
        <div class="col-md-6 col-md-offset-3">

            <label>
                Food Truck Name:
                <input ng-model="businessCreate." type="text" class="form-control" />
            </label>

            <label>
                Food Truck Image:
                <input ng-model="businessCreate." type="text" class="form-control" />
            </label>

            <label>
                Food Truck Description:
                <input ng-model="businessCreate." type="text" class="form-control" />
            </label>

            <label>
                Food Truck :
                <input ng-model="businessCreate." type="text" class="form-control" />
            </label>

            <div class="col-md-6 col-md-offset-3">
                <input type="submit" value="sumbit" />
            </div>

        </div>
    </form>
</div>
