<div class="row text-center">

    <form ng-submit="custLogin.login()">

        <div class="col-md-4 col-md-offset-4">
            <label>
                Customer login page
            </label>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <label>
                Email:
                <input ng-model="custLogin.username" class="form-control" placeholder="Enter Email" />
            </label>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <label>
                Password:
                <input ng-model="custLogin.password" class="form-control" type="password" placeholder="Enter Password" />
                <br />
                <p>
                    <input class="btn btn-default form-control" type="submit" value="Login" />
                </p>
            </label>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <label>
                <p>Don't have a customer account?</p>
                <p>Please <a href="#/customer/register">register</a></p>
            </label>

        </div>

    </form>
</div>

