<div class="row  text-center">
    <div class="col-md-4 col-md-offset-4">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">

                    <li role="presentation" class="active"><a href="#/description/{{foodTruck.id}}">Description</a></li>

                    <li role="presentation"><a href="#/menu/{{foodTruck.id}}">Menu</a></li>

                    <li role="presentation"><a href="#/reviews/{{foodTruck.id}}">Reviews</a></li>
                </ul>

            </div>
            <div class="col-md-12">
                <img class="img-responsive" ng-src="{{description.foodTruck.image}}" />
                
            </div>

        </div>


    </div>
</div>