<div class="row text-center">

    <form ng-submit="custLogin.login()">

        <div class="col-md-4 col-md-offset-4">
            <label>
                Favorite food trucks
            </label>
        </div>
        <div class="col-md-4 col-md-offset-4" ng-repeat="truck in list.FoodTrucks | filter: favorites">
            <label>
                {{list.truck.name}}
            </label>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <label>
                Favorite food trucks
            </label>
        </div>
        <div class="col-md-4 col-md-offset-4" ng-repeat="truck in list.FoodTrucks | filter: popular">
            <label>
                {{list.truck.name}}
            </label>
        </div>


    </form>
</div>

