
<div class="row text-center">

    <form>

        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading text-left">
                    <label>
                        Favorite food trucks
                    </label>
                </div>

                <div class="list-group">

                </div>

            </div>
        </div>

        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading text-left">
                    <label>
                        Popular food trucks
                    </label>

                </div>
                <div class="list-group">
                    <a href="#" class="list-group-item" ng-repeat="truck in list.foodTrucks| orderBy: '-rating'">
                        <div class="row" ng-click="list.goToFoodTruck(truck.id)">
                            <div class="col-md-6 text-right">

                                {{truck.name}}

                            </div>
                            <div class="col-md-6 text-left">

                                {{truck.rating|number:2}}

                            </div>
                        </div>
                    </a>

                    <a href="#/map" class="list-group-item" ng-click="list.goToMap()">
                        <label>
                            Food Truck Map
                        </label>
                    </a>

                </div>
            </div>
        </div>
    </form>
</div>

