<div class="row  text-center">



    <div class="col-md-4 col-md-offset-4">
        <div class="row">
            <h3>
                Food truck location map
            </h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-control">
                    <input class="text-center" ng-model="search" placeholder="Type Address" />
                </div>
            </div>

            <div class="col-md-12" ng-controller="GoogleMapController as google">
               
                <ui-gmap-google-map center='google.center'
                                    zoom='google.zoom'
                                     
                                    >
                    <ui-gmap-markers models="google.markers"
                                     coords="'self'"
                                     click="'onClick'"

                                     options="'options'">
                        <ui-gmap-windows show="'show'" closeClick="closeClick()" class="mapWindow" click="'onClick'" events="markersEvents">
                            <div ng-non-bindable>Test</div>
                        </ui-gmap-windows>
                    </ui-gmap-markers>
                </ui-gmap-google-map>
                
            </div>

            <div class="col-md-12">

                <span class="" style="table-layout:fixed;display:table;width:100%">
                    <a href="#/list" class="btn btn-default form-control" style="display:table-cell">
                        Truck List
                    </a>
                    <a href="#/map" class="btn btn-default form-control" style="display:table-cell">
                        Truck Map
                    </a>
                </span>

            </div>

        </div>
    </div>


</div>
