<div class="row  text-center">

    <div class="container-fluid">
        <div class="col-md-12 regOne">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Thanks Your Order has been Placed!</h4>
            </div>
            <div class="modal-body">
                <p>We look forward to seeing you soon!</p>
            </div>
            <div class="modal-footer">
                <a href="#/" class="btn btn-default btn-primary" data-dismiss="modal">Okay</a>
            </div>
        </div>
    </div>
</div>