<div class="row  text-center">


    <div class="container-fluid">
        <div class="col-md-12 regOne">
            <div class="col-md-8 col-md-offset-2">
                <h1 align="center">Payment Options</h1>
                <br>
                <div class="list-group">
                    <a class="list-group-item" href="#/ordercomplete" data-toggle="modal"><i class="fa fa-usd fa-lg"></i>&nbsp;&nbsp; Pay at food truck</a>
                    <a class="list-group-item" href="#/ordercomplete" data-toggle="modal"><i class="fa fa-paypal fa-lg"></i>&nbsp;&nbsp; Paypal</a>
                    <a class="list-group-item" href="#/ordercomplete" data-toggle="modal"><i class="fa fa-google-wallet fa-lg"></i>&nbsp;&nbsp; Google Wallet</a>
                    <a class="list-group-item" href="#/ordercomplete" data-toggle="modal"><i class="fa fa-apple fa-lg"></i>&nbsp;&nbsp; Apple Pay</a>
                </div>
            </div>
        </div>
    </div>

</div>


