<div class="row  text-center">

    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li><a href="#/description/{{review.foodTruck.id}}">Description</a></li>
            <li><a href="#/menu/{{review.foodTruck.id}}">Menu</a></li>
            <li class="active"><a href="#/reviews/{{review.foodTruck.id}}">Reviews</a></li>
            <li class="pull-right"><a ng-click="addReview=true" class="btn btn-default pull-right" style="border-radius:0"><span class="glyphicon glyphicon-plus"></span></a></li>
        </ul>
    </div>

    <div ng-show="addReview">
        <form ng-submit="review.addReview(review.foodTruck.id)">
            <div class="form-group">
                <label>
                    Add a review
                </label>
            </div>
            <div class="form-group">
                <span class="form-control" style="table-layout:fixed;display:table;width:100%">
                    <textarea ng-model="review.newReview.message" class="form-control" placeholder="Write your review here.." style="display:table-cell">...</textarea>
                </span>
            </div>
            <div class="form-group">
                <span class="starRating">
                    <input ng-model="review.newReview.starRating" id="rating5" type="radio" name="rating" value="5">
                    <label for="rating5">5</label>
                    <input ng-model="review.newReview.starRating" id="rating4" type="radio" name="rating" value="4">
                    <label for="rating4">4</label>
                    <input ng-model="review.newReview.starRating" id="rating3" type="radio" name="rating" value="3">
                    <label for="rating3">3</label>
                    <input ng-model="review.newReview.starRating" id="rating2" type="radio" name="rating" value="2">
                    <label for="rating2">2</label>
                    <input ng-model="review.newReview.starRating" id="rating1" type="radio" name="rating" value="1">
                    <label for="rating1">1</label>
                </span>
            </div>
            <div class="form-group">
                <span class="" style="table-layout:fixed;display:table;width:100%">
                    <input class="form-control" type="submit" value="Submit" style="display:table-cell" />
                </span>

            </div>
        </form>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6" ng-repeat="r in review.foodTruck.reviews">
                <div class="col-md-3" style="text-align:center">
                    <div class="star-ratings-sprite">
                        <span style="width:calc({{r.starRating}}/5*100%)" class="rating"></span>
                    </div>
                </div>
                <div class="col-md-3" style="text-align:center">
                    <p>{{r.message}}</p>
                </div>
            </div>
        </div>
    </div>

</div>
